# GameMaker specific
*.yyz
*.yyp~
*.yy~
*.yymps

# User-specific files
*.user
*.userprefs

# Build output
/build/
bin/
cache/
output/
*.zip

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/
